<h1>Weather forecast</h1>

<p *ngIf="!forecasts && search && search.city"><em>Loading...</em></p>

<p *ngIf="search && !search.city"><em>You could select city</em></p>

<table class='table' *ngIf="forecasts && search && search.city">
  <thead>
    <tr>
      <th>Date</th>
      <th>Temp. (C)</th>
      <th>Temp. (F)</th>
      <th>Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
